*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.main-content{
	width: 28%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(30 98 108 / 70%);
	margin: 5em auto;
	display: flex;
}
/* .company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
} */
.container-fluid{
    padding:10px;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 100%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
} 
h2{
   justify-content: center;
   text-align:center;
   font-size:1.5em;
   font-weight: 600;
}
.row > h2{
	color:#008080;
}
.login__form{
	background-color: #fff;
	border-top-right-radius:20px;
    border-top-left-radius:20px;
	border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
    width:700px;
    padding:15px;
    font-family:sans-serif;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%; 
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1em auto;
	transition: all .5s ease;
    font-family:sans-serif;
    
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 1 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 120px;
	border-radius: 30px;
	color:#008080!important;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
    height:30px;    
}
.btn-pequeno{
    width:70px;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}
.row-submit{
    margin:25px;
}
.row-miss, p{
    text-align:center;
    font-size:1.3rem;
    color:black;
}
a{
    text-decoration:none;
}
.fixclr{
    color:#008080!important;
}
